.home-page {
    position: absolute;
    bottom: 10px;
    margin-left: 6vw;
    display: flex;
    padding: 7em 0 1em 0;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100vw;
}

.send-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat {
    display: flex;
    width: 60vw;
    margin-right: 15%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 5em;
}

.main-content {
    display: flex;
    margin-bottom: 30px;
}

.message-prompt {
    display: flex;
    align-items: center;
    position: relative;
}

#message {
    padding: 12px 50px 12px 25px;
    width: 520px;
    border-radius: 4px;
    border: 1px solid var(--gray);
}

#message-icon {
    position: absolute;
    font-size: 1.25rem;
    margin-top: 10px;
    right: 20px;
    color: var(--green);
}

.user {
    list-style: none;
    color: white;
    background-color: gray;
    padding: 0 10px 0 10px;
    margin: 20px 0 20px 0px;
    transform: translate('50%');
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.system {
    list-style: none;
    color: white;
    background-color: #0ca37f;
    padding: 0 20px 0 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.imageHolder {
    position: absolute;
    bottom: 10px;
}

.avatar img {
    margin-left: -5vw;
    margin-right: -10vw;
    width: 20vw;
}

.transcript-ref {
    display: none;
}

@media screen and (max-width: 768px) {
    .message-prompt{
        max-width: 100%;
    }
    #message{
        width: 85vw;
        margin: 23px 0px;
    }
}